body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
header {
    background-color: #b1dfff;
}
nav {
    background-color: #ffc145;
}
main {
    background-color: #e3f4ff;
    font-size: 20px;
}
footer {
    background-color: #ffc145;
    font-size: 15px;
}
li {
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 5px solid #455dff;
    border-radius: 10px;
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #7c7664ee;
}
p {
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: #455dff;
}
img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}